.item{
    display: block;
    width: 22.5%;
    margin: 1rem 1.25%;
    text-decoration: none;
    @media screen and (max-width: 960px) {
        width: 45%;
        margin: 1rem auto;
    }
    img{
        width: 100%;
    }
    span {
        color: white;
    }
}